<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <% @user.image %>
    <%= image_tag(@user, style:"width:100px") %>
</p>

<p>
  <strong>Video:</strong>
  <%#= video_tag @user.video, :size => "320x240", :autoplay => true, controls: true, autobuffer: true, multiple: true %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
